.backImage {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/25badb14-858b-4b1c-8b7d-2244098454d9/61216e4c-b2b3-40e1-85d6-2b13eb86ef2b/BR-pt-20220606-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    opacity: 30%;
    height: 100vh;
}

.loginPage img {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 40px;
    height: 95px;
}

.divForm {
    position: absolute;
    z-index: 100;
    top: 50vh;
    
    width: 250px;
    background-color: rgba(0, 0, 0, 0.5);
}

.botEntrar{
    background-color: rgb(229, 9, 20);
    color: white;
    border-color: rgb(229, 9, 20);
    width: 80%;
    z-index: 99;
}

